*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.App {
  max-width: 335px;
  width: 100%;
  padding: 5px;
  background-color: #000;
  border: 2px solid #47476b;
}

.display {
  padding-right: 2rem;
  margin-bottom: 0.5rem;
}

.formulaScreen {
  min-height: 30px;
  line-height: 30px;
  text-align: right;
  color: orange;
}

#display {
  line-height: 20px;
  text-align: right;
  color: #fff;
}

.keys {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

button {
  height: 65px;
  width: 80px;
  outline: 1px solid #000;
  background-color: #4d4d4d;
  color: white;
  border: none;
  font-size: 1.25rem;
}

button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

#clear {
  background-color: #ac3939;
  width: 160px;
}

#zero {
  width: 160px;
}

#equals {
  position: absolute;
  background-color: #004466;
  height: 130px;
  bottom: 0;
  right: 1px;
}
